<div class="jumbotron step">

	<h2 class="title-heading">
		{{wizard_title}}
	</h2>

	<label>
		<button type="button" class="btn btn-default btnstep">habilitar siguiente paso</button>
	</label>

</div>