<div class="input-group">
	<input type="text" class="autocomplete form-control dropdown-toggle" name="{{input_name}}">
	<span class="input-group-btn">
		<button class="btn btn-default" type="button">{{button_label}}</button>
	</span>
	<ul class="dropdown-menu">
		<li>ASDADSADS</li>
	</ul>
</div>