<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Nombre</th>
			<th>Apellido</th>
		</tr>
	</thead>
	<tbody>
	{{#each .}}
		<tr>
			<td>{{id}}</td>
			<td>{{nombre}}</td>
			<td>{{apellido}}</td>
		</tr>
	{{/each .}}
	</tbody>
</table>