<form class="form-inline" role="form">
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputEmail2" placeholder="">
  </div>
  <button type="button" class="btn btn-default filter">Filtro!</button>
</form>