<div class="center-block">
	<ul class="pagination">
		<li>
			<a	class="link">
				&laquo;
			</a>
		</li>
		{{#each page}}
		<li>
			<a class="link">
				{{pageNumber}}
			</a>
		</li>
		{{/each}}
		<li>
			<a class="link">
				&raquo;
			</a>
		</li>
	</ul>
</div>